In [10]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))
print(fruits.count('tangerine'))
print(fruits.index('banana'))
print(fruits.index('banana', 4))
fruits.reverse()
print(fruits)
fruits.append('grape')
print(fruits)
fruits.sort()
print(fruits)
print(fruits.pop())

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
pear

- `reverse` や `sort` はリストの内容を変更する

In [12]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
[3, 4, 5]
5
[3, 4]

In [13]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
print(queue.popleft())
print(queue.popleft())
print(queue)

Eric
John
deque(['Michael', 'Terry', 'Graham'])

In [15]:
squares = []
for x in range(10):
    squares.append(x**2)
    
print(squares)
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
9

In [17]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares = [x**2 for x in range(10)]
print(squares)
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
9

In [20]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

- `for` - `for` - `if` と実際のステートメントの実行順序と同じ並びになる

In [22]:
vec = [-4, -2, 0, 2, 4]
print([x*2 for x in vec])
print([x for x in vec if x >= 0])
print([abs(x) for x in vec])
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([weapon.strip() for weapon in freshfruit])
print([(x, x**2) for x in range(6)])
#print(x, x**2 for x in range(6))

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['banana', 'loganberry', 'passion fruit']
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [24]:
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([num for elem in vec for num in elem])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- `flatten` の実装

In [25]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [1]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [4]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [8]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [9]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [17]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

del a
print(a)

[1, 66.25, 333, 333, 1234.5]
[1, 66.25, 1234.5]
[]

NameError: name 'a' is not defined

In [6]:
t = 12345, 54321, 'hello!'
print(t[0])
print(t)
u = t, (1, 2, 3, 4, 5)
print(u)
#t[0] = 88888
v = ([1, 2, 3], [3, 2, 1])
print(v)

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
([1, 2, 3], [3, 2, 1])

- タプルを書く時は必ずしも丸括弧で囲まなくても良いが、丸括弧が必要な場合もある
- タプルの要素の値を代入することはできない
- タプルはリストと似ているが、異なる目的で利用されることが多い
  - タプル
    - 不変型
    - 複数の型の要素からなることもある
    - 要素はアンパック操作やインデックスでアクセスすることが多い
  - リスト
    - 同じ型の要素からなることが多い
    - イテレートによってアクセスする

In [8]:
empty = ()
singleton = 'hello',
print(len(empty))
print(len(singleton))
print(singleton)

0
1
('hello',)

- 要素 0 のタプルを生成するには、空の丸括弧ペアを記述する
- 要素 1 のタプルを生成するには、値の後ろにコンマを付ける

In [11]:
t = 12345, 54321, 'hello!' # pack
x, y, z = t # unpack
print(x, y, z)

12345 54321 hello!

In [23]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print('orange' in basket)
print('crabgrass' in basket)

a = set('abracadabra') # 'abracadabra' is iterable
b = set('alacazam') # 'alacazam' is iterable
#c = set(123) # 123 is int and not iterable
print(a)
print(b)
print(a - b)
print(a | b)
print(a & b)
print(a ^ b)

a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)

{'banana', 'apple', 'orange', 'pear'}
True
False
{'c', 'r', 'b', 'a', 'd'}
{'l', 'z', 'm', 'c', 'a'}
{'r', 'b', 'd'}
{'l', 'z', 'm', 'c', 'r', 'b', 'a', 'd'}
{'a', 'c'}
{'r', 'b', 'l', 'z', 'd', 'm'}
{'r', 'd'}

In [30]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])
del tel['sape']
tel['irv'] = 4127
print(tel)
print(list(tel))
print(sorted(tel))
print('guido' in tel)
print(('jack') not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False

In [31]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [32]:
{x : x**2 for x in  (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [33]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [9]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)
    
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)
    
for i, v in enumerate('tictactoe'):
    print(i, v)

for i, v in enumerate(('tic', 'tac', 'toe')):
    print(i, v)
    
#for i, v in enumerate('tic', 'tac', 'toe'):
#    print(i, v)

gallahad the pure
robin the brave
0 tic
1 tac
2 toe
0 t
1 i
2 c
3 t
4 a
5 c
6 t
7 o
8 e
0 tic
1 tac
2 toe

In [11]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q, a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [12]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [13]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [14]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
print(filtered_data)

[56.2, 51.7, 55.3, 52.5, 47.8]

In [15]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3

print(non_null)

Trondheim

- Python は C言語と違って、式の内部で代入を行えない

In [28]:
print((1, 2, 3) < (1, 2, 4))
print([1, 2, 3] < [1, 2, 4])
print('ABC' < 'C' < 'Pascal' < 'Python')
print((1, 2, 3, 4) < (1, 2, 4))
print((1, 2) < (1, 2, -1))
print((1, 2) < (1, 3, -1))
print((1, 3) < (1, 2, -1)) # False
print((1, 2, 3) == (1.0, 2.0, 3.0))
print((1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4))

True
True
True
True
True
True
False
True
True